.sconsign.dblite
.sconf_temp
config.log
*.os
*.so

*~
\#*\#
/python_bindings/libstego.py
/TAGS
/python_bindings/libstego.pyc
/python_bindings/libstego_wrap.c
/python_bindings/libstego_wrap.o
/python_bindings/libstegofile.py
/python_bindings/libstegofile.pyc
/python_bindings/libstegofile_wrap.c
/python_bindings/libstegofile_wrap.o
/*.orig
/**/*.orig
/src/libstego/cpt.c.orig
/src/libstego/f5.c.orig
/stego_ui/stegui_ctrl.pyc
/tags
/test/cpt-test
/test/cpt_stego.png
/test/random-test
CMakeCache.txt
CMakeFiles
*.cmake
!cmake/**/*
Makefile
